---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Luis Code">
  <main class="mx-auto w-full max-w-7xl sm:px-10 px-5 pb-10">
    <Header />
    <Hero />
    <Experience />
  </main>
</Layout>

<style></style>
