---
const cvButtonText = "Descargar CV";
const cvButtonMobileText = "CV";
---

<section
  class="text-gray-300 flex-col md:flex-row flex justify-center items-center gap-8 sm:gap-20 min-h-[calc(100dvh-104px)] sm:min-h-[calc(100dvh-64px)] relative"
>
  <article class="w-[40%]">
    <img
      class="rounded-lg"
      src="https://media.licdn.com/dms/image/D5603AQHllCrEpsed_A/profile-displayphoto-shrink_800_800/0/1687385933328?e=1716422400&v=beta&t=I9vpl7FxbA_nwXI8b1c6qhgyoXwqFb5vwYl3Ut-3Vrc"
      alt="imagen a color de Luis Chota"
    />
  </article>

  <article class="md:w-[60%] w-[90%]">
    <h1 class="text-3xl sm:text-5xl pb-2 text-center">
      ¡Hola, soy <span class="text-purple-600 font-semibold">Luis</span>! 👋
    </h1>
    <p class="text-center text-gray-400 pb-4">Desarrollador full-stack</p>
    <p class="sm:text-xl text-lg">
      <span class="text-purple-600 font-semibold">+2 años de experiencia</span> contruyendo
      y manteniendo aplicaciones web robustas y escalables. Tengo experiencia en
      varias tecnologías pero mi foco principal es el desarrollo de aplicaciones
      web con <span class="text-red-400">Angular</span> + <span
        class="text-blue-400">Express.js</span
      >. <br />
      <br />
      Como desarrollador, me gusta trabajar en equipo, aprender nuevas tecnologías
      y conocer las reglas de negocio para ofrecer soluciones que se adapten a las
      necesidades del cliente. <br />
    </p>
    <p class="sm:text-xl text-lg pb-10 flex items-center">
      Como persona, me gusta el anime y los videojuegos.
      <img
        width="100"
        src="https://media.tenor.com/cyORI7kwShQAAAAj/shigure-ui-dance.gif"
        alt="gif de shigure dance"
      />
    </p>

    <div
      class="sm:justify-start justify-center flex flex-wrap gap-2 sm:gap-10 -ml-4 text-gray-400"
    >
      <button
        class="border border-transparent rounded-xl py-1 px-4 hover:scale-110 hover:text-purple-600 duration-300 flex gap-1 justify-center items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path></svg
        >
        GitHub</button
      >
      <button
        class="border border-transparent rounded-xl py-1 px-4 hover:scale-110 hover:text-blue-600 duration-300 flex gap-1 justify-center items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
            d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
          ></path></svg
        >
        LinkedIn</button
      >
      <button
        class="border border-transparent rounded-xl py-1 px-4 hover:scale-110 hover:text-green-600 duration-300 flex gap-1 justify-center items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-file-cv"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
          ></path><path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"
          ></path><path d="M13 11l1.5 6l1.5 -6"></path></svg
        >
        <p class="hidden sm:block">Descargar CV</p>
        <p class="block sm:hidden">CV</p>
      </button>
    </div>
  </article>

  <div class="hidden sm:block absolute bottom-10 animate-bounce text-gray-400">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down scale-110"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 5l0 14"></path><path d="M18 13l-6 6"></path><path d="M6 13l6 6"
      ></path></svg
    >
  </div>
</section>
